/* Start Variables */
:root {
  --main-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("../imgs/clear-air-fly-fantastic-travel.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
}
/* End Global Rules */
#app {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headline {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 35px;
}
.zip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#zip {
  background-color: #ffffff;
  margin-top: 8px;
  text-align: center;
  border: none;
  width: 250px;
  border-radius: 25px;
  transition: ease 0.3s all;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: ease 0.3s all;
  -moz-transition: ease 0.3s all;
  -ms-transition: ease 0.3s all;
  -o-transition: ease 0.3s all;
}
#zip:focus {
  outline: none;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#error {
  background-color: crimson;
  text-transform: uppercase;
  color: white;
  font-size: large;
  width: 70%;
  height: fit-content;
  text-align: center;
  margin: 0px auto 12px;
  border-radius: 1px 0px 30px 30px;
  display: block;
}
.feel {
  text-align: center;
  font-size: 1.3em;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#feelings {
  margin-top: 8px;
  height: 100px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#feelings:focus {
  outline: none;
}
#generate {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  margin-top: 10px;
  width: 125px;
  transition: ease 0.2s all;
  -webkit-transition: ease 0.2s all;
  -moz-transition: ease 0.2s all;
  -ms-transition: ease 0.2s all;
  -o-transition: ease 0.2s all;
}
#generate:hover {
  background-color: #e1e7ebc4;
}
.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 25px;
}
.title {
  margin-bottom: 20px;
  font-weight: bold;
}
.title,
#entryHolder {
  text-align: center;
}
#date,
#temp,
#content {
  color: #0e1b22;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.shake {
  animation: shake 0.5s;
  -webkit-animation: shake 0.5s;
}
@keyframes shake {
  0% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
  20% {
    transform: translate(2em);
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -ms-transform: translate(2em);
    -o-transform: translate(2em);
  }
  40% {
    transform: translate(-2em);
    -webkit-transform: translate(-2em);
    -moz-transform: translate(-2em);
    -ms-transform: translate(-2em);
    -o-transform: translate(-2em);
  }
  60% {
    transform: translate(2em);
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -ms-transform: translate(2em);
    -o-transform: translate(2em);
  }
  80% {
    transform: translate(-2em);
    -webkit-transform: translate(-2em);
    -moz-transform: translate(-2em);
    -ms-transform: translate(-2em);
    -o-transform: translate(-2em);
  }
  100% {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}
